Django==2.2
django-classy-tags==1.0.0
django-cms==3.7.1
django-formtools==2.2
django-sekizai==1.1.0
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-text-ckeditor==3.8.0
djangocms-typedjs==1.0.0
html5lib==1.0.1
Pillow==5.0.0
psycopg2-binary==2.8.4
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
webencodings==0.5.1
